<!DOCTYPE HTML>
<html>
    <head>
        <title> dailystrips for <TMPL_VAR NAME=DATE></title>
        <link rel="stylesheet" type="text/css" href="comics.css" />
        <link rel="alternate" type="application/rss+xml" title="All Comics, RSS 1.0" href="http://comics.dp.cx/rss.php" />
        <link rel="alternate" type="application/rss+xml" title="'New Comics', RSS 1.0" href="http://comics.dp.cx/rssnew.php" />
        <script type="text/javascript" src="/comic.js"></script>
        <script type="text/javascript" src="/ie6-upgrade-warning-read-only/ie6/warning.js"></script>
        <meta name="verify-v1" content="NROT83kBphoVsr35EGOEP3r+TOJ0E3E1qp16QybNRVA=" />
    </head>

    <body>
        <!--[if lte IE 6]><script src="/ie6-upgrade-warning-read-only/ie6/warning.js"></script><script>window.onload=function(){e("/ie6-upgrade-warning-read-only/ie6/")}</script><![endif]-->
        <div style="text-align: center; font: helvetica, arial 2em bold; text-decoration: underline;" id="top">dailystrips for <TMPL_VAR NAME=DATE></div>
        <p style="font: helvetica, arial 1em normal;"><TMPL_IF NAME="PREV_DAY">&lt; <a href="dailystrips-<TMPL_VAR NAME=PREV_DAY>.html"> Previous day</a> | </TMPL_IF> <TMPL_IF NAME="NEXT_DAY"><a href="dailystrips-<TMPL_VAR NAME=NEXT_DAY>.html">Next day</a> &gt; | <TMPL_ELSE><!--nextday--></TMPL_IF><a href="archive.html"> Archives</a></p>
        Strips:
        <TMPL_LOOP NAME="COMICS">
            <a href="#<TMPL_VAR NAME=LC_COMIC>" class="nav"><TMPL_VAR NAME=NAME></a>
        </TMPL_LOOP>
        </ul>

        <TMPL_VAR NAME=COMICSLIST>
        <dl>
            <TMPL_LOOP NAME="COMICS">
            <dt id="<TMPL_VAR NAME=LC_COMIC>"><TMPL_IF NAME="LINK"><a href="<TMPL_VAR NAME=LINK>"></TMPL_IF><TMPL_VAR NAME=NAME><TMPL_IF NAME="LINK"></a></TMPL_IF><TMPL_IF NAME="ARTIST"> - by <TMPL_VAR NAME=ARTIST></TMPL_IF><small><a href="archivecomic.php?comic=<TMPL_VAR NAME=E_NAME>">Archive</a></small></dt>
            <dd><img src="<TMPL_VAR NAME=E_IMAGE>" alt="<TMPL_VAR NAME=NAME>"><br><a href="#top">Return to top</a></dd>
            </TMPL_LOOP>
        </dl>
        <p style="font: helvetica, arial 1em normal;"><TMPL_IF NAME="PREV_DAY">&lt; <a href="dailystrips-<TMPL_VAR NAME=PREV_DAY>.html"> Previous day</a> | </TMPL_IF> <TMPL_IF NAME="NEXT_DAY"><a href="dailystrips-<TMPL_VAR NAME=NEXT_DAY>.html">Next day</a> &gt; | <TMPL_ELSE><!--nextday--></TMPL_IF><a href="archive.html"> Archives</a></p>
        <p style="font: helvetica, arial 1em normal;">Generated by dailystrips 1.0.28</p>
    </body>
</html>

